:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#6B7280;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#8B5Cf6;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--gray);
    color: #FFF;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-input{
    flex: 1 1 0%;
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-input::placeholder{
    color: var(--gray);
}

#new-todo-submit{
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--dark), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-todo-submit:hover{
    opacity: 0.8;
}

#new-todo-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    /* padding: 2rem 1rem; */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.todo-list{
    padding: 1rem;
}

.todo-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#todos .todo{
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#todos .todo .contn{
    flex: 1 1 0%;
}

#todos .todo .contn .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#todos .todo .contn .text:not(:read-only){
    color: var(--pink);
}

#todos .todo .actn{
    display: flex;
    margin: 0 -0.5rem;
}

.todo .actn button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.todo .actn button:hover{
    opacity: 0.8;
}

.todo .actn button:active{
    opacity: 0.6;
}

.todo .actn .edit{
    background-image: linear-gradient(to right, var(--dark), var(--darkest));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.todo .actn .delete{
    color: red;
}
